.account {
	> .row {
		background: @panel-background;
	}


	.profile {
		padding-bottom: 10px;
		.profile-meta {
			color: @text-color;
			strong {
				color: darken(@text-color, 15%);
			}
		}

		.account-stats {
			.stat-label {
				color: @text-color;
			}
		}
	}
}