.account {
	> .row {
		background: @panel-background;
		padding: 15px;
		&.account-top-padding {
			padding-top: 60px;
		}
		&.hidden {
			padding: 0px !important;
		}
	}

	h1 {
		font-size: 22px;
	}
	#groups-list {
		margin-top: 15px;
	}
	.profile {
		padding-bottom: 10px;
		.profile-meta {
			color: @text-color;
			strong {
				color: darken(@text-color, 15%);
			}
		}
		.fullname {
			color: @link-color;
		}

		.account-stats {
			.stat-label {
				color: @text-color;
			}
		}
	}
}