@block-padding: 15px;

.categories, .category > ul {

	> li {
		width: 100%;
		display:flex;
		@media (max-width: @screen-xs-max) {
			
			&:last-child {
				
			};
		}

		.teaser {
			color: @text-color;
		}

		.content {
			/*
			This is equivalent to flex: 0 0 auto. It sizes the item according to its width/height properties, but makes it fully inflexible.
			*/
			flex: none;
			vertical-align: top;

			.icon {
		
			}

			img, .user-icon {
			
			}

			h2 {
				

				strong {
				
				}
			}

			@media (max-width: @screen-sm-max) {
				.user-img, .user-icon {
					
				}
				h2 {
				
				}
			}
			small {
				
			}
		}

		@media (max-width: 500px) {
			.teaser {
		
			}
		}

		.mobile-stat {

		}

		.card {
	

			> * {
			
			}

			img {
			
			}

			p {
				
				.emoji {
				
				}
			}

			.post-content {
		
				blockquote {

				}
			}

			.user-icon {

			}
		}

		.category-children {
			.fa-stack {

			}
		}
	}
}


.category-header {


	&:hover {

	}

	.category-box {


		.post-preview {

			img {

			}

			p {

			}
		}
	}
}

.category-header-image-auto {

}

.category-header-image-cover {

}

.category-header-image-contain {

}


.stats {
	flex: none;

	vertical-align: middle;
	small {
		color: @text-color;
	}
	span {
		color: @text-color;
	}
	.stats-container {
	}
}


