.category {

	> ul {
		> li {
			&:not(.unread) {
				h2.title { 
					> a {
						color: @text-color;
						&:hover {
							color: @brand-primary;
						}
					}
					small {
						a {
							&,
							&:focus,
							&:active {
								color: @link-color;
								text-decoration: none;
							}
							&:hover {   

								color: @link-hover-color;
							}
						}
					}
				}
			}
		}
	}
}

.category, .categories, .subcategory {
	> p {
		color: @text-color;
	}

	h2.title .description {
		color: @text-color;
		font-size: 13px;
	}
}

.categories-title {
	color: @text-color;
}