@block-padding: 15px;
.categories, .category > ul {
	
    [component="topic/pinned"] {
        color: darkorange;
	}
	[component="topic/locked"] {
        color: gold;
	}
	> li {
		width: 100%;
		display:flex;
		margin: 0px;
		@media (max-width: @screen-xs-max) {
			border:none;
			&:last-child {
				border: none;
			};
		}


		.teaser {
			color: @text-color;
		}

		.content {
			/*
			This is equivalent to flex: 0 0 auto. It sizes the item according to its width/height properties, but makes it fully inflexible.
			*/
			flex: none;
			vertical-align: top;
			h2.title {
				.description {
					line-height: 17px;
				}
			}
			.full-height-panel {
				min-height: 80px;
			}
		}

		// Card will always take whatever height is available.
		.card {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			max-height: 82px;
			overflow: hidden;
		}
		.category-text-container {
			h2 {
				&.title {
					a {
							color: @text-color;
					&:hover {
						color: @brand-primary;
					}
					}
				}
			}
		}
		.content {
	
		}
	}
}


.stats {
	flex: none;
	vertical-align: middle;
	.full-height-panel {
		padding: 0px;
	}
	small {
		color: @text-color;
		text-transform: none;
		
	}
	span {
		color: @text-color;
	}
}


