.groups.details {
	[component="groups/cover"] {
		background-image: none;
	}


	.owner-controls {
		margin-top: -6px;
	}

	.post-body {
		background: @panel-background;
		.topic-title {
			&,
			&:focus,
			&:active {
				color: @link-color !important;
				font-weight: bold !important;
				text-decoration: none !important;
			}
			&:hover {   
				text-decoration: none !important;
				color: @link-hover-color !important;
			}
		}
	}
}
