#menu, .header {
	.notification-list {
		

		li {
		

			a {
				

				.text {
					
				}
			}
			&:hover {
				background-color: @dropdown-menu-hover;
			}
			&.unread {
				background-color: @dropdown-menu-hover;

				.mark-read:after {
					
				}

				.mark-read:hover:after {
					
				}
			}

			.mark-read {
			

				&:after {
				
				}

				&:hover {
				

					&:after {
						
					}
				}
			}
		}
	}

	.chat-list {
		.notification-list;

		> li {
		

			&:hover {
				background-color: @dropdown-menu-hover;
			}

			&:not(:last-child) {
				
			}

			&.no_active a {
			
			}

			a {
				&,
				&:focus,
				&:active {
					color: @text-secondary;
					font-weight: bold;
				}
				&:hover {   
					color: @text-secondary;
				}
			}

			.members {
				

				li {
				
				}
			}
		}
	}
}

.header {
	background-color: @header-background;
	border: none;

	.navbar-nav {
		.dropdown-menu {
			.border-radius(0px 0px 5px 5px);

		}
		 > li {
		 	> a {
				 color: @text-color;
				 &:hover {
					 color: darken(@text-color, 10%);
				 }
			}
		}

	}

	[component="navbar/title"] {
		
	}


	.navbar-toggle {
		border: none;
		background: @link-color;
		.notification-icon {
			
			&:before {
			
			}
		}
		
		&:hover {
			background: lighten(@link-color, 10%);
		}
		&:focus {
			background: @link-color;
		}
		.icon-bar {
			background-color: #fff;
		}
	}

	#user_dropdown {
		

		img, .user-icon {
		

			span {
				
			}
		}
	}

	.forum-title {
		background: url("@{image-path}/logo_forum.png") no-repeat;
		width: 145px;
		margin-top: -3px;
		margin-left: 0px !important;
	}

	.forum-logo {
		
	}

	@media (max-width: @screen-xs-max) {
		.forum-logo {
			
		}
		.forum-title {
			margin-left: 15px !important;
		}
	}

	.header-topic-title {

		span {

		}
	}

	.pagination-block {

		&.ready {
		
		}

		.progress-container {
			background: #fff;

			.progress-bar {
				background: @brand-primary;
			}
		}

		.dropdown-toggle {
		
		}

		.open>a {
		
		}


		.dropdown-menu {
			
		}

		@media (max-width: @screen-xs-max) {
			.progress-container {
			
			}
		}
	}

	.notif-dropdown-link {
		// margin-top: 1em;
		border-color: #f5f5f5;

		a {
			&:hover {
				background-color: @dropdown-menu-hover;
			}
		}
	}

	#search-form {
		.advanced-search-link {
			
		}
	}
}

.breadcrumb {
	li {
	
	}

	.fa {
		color: @text-color;
	}



	@media (max-width: @screen-sm-max) {
		li {
		
		}

		li:nth-last-child(2), li:nth-last-child(1), li:last-child {
			
		}

		li:nth-last-child(2):before {
		
		}
	}
}

#reconnect {


	&.active {
		
	}

	& +div.tooltip .tooltip-inner {
		
	}
}

.unread-count:after {

}

#mobile-menu [component="notifications/icon"].unread-count:after, .slideout-menu .unread-count:after {

}

#search-form {
	#search-button {

	}
	#search-button.hidden {

	}
	#search-fields {


		&.hidden {
			
		}

		input.form-control {
		
		}

		.form-group .advanced-search-link {
		
		}
	}
}

body.skin-default .header {
	.notification-list {

		li {
			a {
			
			}
		}
	}
}
