// Pills
// -------------------------
.nav-pills {
  > li {
    background: none;
    
    // Links rendered as pills
    > a {

        background: none;
        &:hover {
          background: none;
          color: @text-color;
        }
    }
    + li {
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        background: none;
        color: @link-hover-color;
      }
    }
  }
}
