//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {


  > li {


    > a {
  
      &:hover,
      &:focus {
  
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {

      &:hover,
      &:focus {
  
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {

    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  > li {


    // Actual tabs (as links)
    > a {

      &:hover {
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
 
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {

  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    background: none;
    
    // Links rendered as pills
    > a {

        background: none;
        &:hover {
          background: none;
          color: @text-color;
        }
    }
    + li {
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        background: none;
        color: @link-hover-color;
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    + li {

    }
  }
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {

  > li {

    > a {

    }
  }

  > .dropdown .dropdown-menu {

  }

  @media (min-width: @screen-sm-min) {
    > li {
 
      > a {
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {

  > li > a {

  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
  }

  @media (min-width: @screen-sm-min) {
    > li > a {

    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
  }
  > .active {
  }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {

}
