#nprogress {

}

#nprogress .bar {
  background: @text-color;

}

#nprogress .peg {

}

#nprogress .spinner {

}

@media (max-width: @screen-xs-max) {
  #nprogress .spinner {

  }
}


#nprogress .spinner-icon {
  border-color: @brand-primary;
  border-bottom-color: darken(@brand-primary, 10%);
  border-top-color: darken(@brand-primary, 15%);
}

.nprogress-custom-parent {

}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {

}

@-webkit-keyframes nprogress-spinner {

}
@keyframes nprogress-spinner {

}

