.posts-list {


	.posts-list-item {
	
		.topic-title {
			color: @text-color;
			text-decoration: none;
		}

		.topic-category {
			

			a {
				&,
				&:focus,
				&:active {
					color: @link-color !important;
					font-weight: bold !important;
					text-decoration: none !important;
				}
				&:hover {   
					text-decoration: none !important;
					color: @link-hover-color !important;
				}
			}
		}


		.post-info {
	
			.post-author {
			
				color: @text-color;
				a {
					&,
					&:focus,
					&:active {
						color: @link-color !important;
						font-weight: bold !important;
						text-decoration: none !important;
					}
					&:hover {   
						text-decoration: none !important;
						color: @link-hover-color !important;
					}

				}

				
			}
		}
	}
}