#background {
    background-image: url("@{image-path}/background_xs.jpg");
    background-size: cover;
    background-position: bottom;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    @media (min-width: 768px)
	{
        background-image: url("@{image-path}/background_sm.jpg");
	}

	@media (min-width: 1200px)
	{
        background-image: url("@{image-path}/background.jpg");
	}
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.panel-container {
	background: @panel-background;
	padding: @block-padding;
	margin-right: 10px;
}

.center-text-container {
    display: table;
    height: 100%;
    width: 100%;
}

.center-text {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
} 
.full-height-panel {
    height: 100%;
}

#panel.slideout-panel {
    min-height: auto; // There is a bug in the original style for this element where it would always show a scrollbar if i dont set this to auto.
    position: relative;
}
a.permalink {
	&,
	&:focus,
	&:active {
		color: @link-color;
        font-weight: bold;
        text-decoration: none;
	}
    &:hover {   
        text-decoration: none;
        color: @link-hover-color;
    }
}
.form-group {
    a {
        color: @text-secondary;
    }
}


.plugin-mentions-a {
   &,
	&:focus,
	&:active {
		color: @link-color !important;
        font-weight: bold !important;
        text-decoration: none !important;
	}
    &:hover {   
        text-decoration: none !important;
        color: @link-hover-color !important;
    }
}

// Basic style for all hr elements
hr {
    border-color: @panel-background;
    border-width: 2px;
}

// Basic style for all panels 
.panel {
    border: none;
}

// Basic style for all inputs
.form-control {
    border: none;
    border-radius: 0;
}


.btn-primary {
    font-weight: 400;
    border: none;
    &:hover {
        background: @brand-primary;
    }
}

// We want buttons inside the layout to be a different style
.container {

 .btn-default {
        & {
           background: @brand-primary;
            color: @text-color;
        }
        &:hover, &:active, &:focus {
            color: @text-color;
        }
    }
    // Buttons inside button groups will ahve different stylings.
    .btn-group {

        .open {
            >.dropdown-toggle {
                
                &.btn-default {
                    background: transparent;
                    color: @text-color;
                    border: none;
                    box-shadow: none;
                }
            }
        }

        .btn-default {
            & {
                background: transparent;
                color: @text-color;
                border: none;
                box-shadow: none;
            }
            &:hover, &:active, &:focus {
                background: transparent;
                color: @link-color;
                box-shadow: none;
            }
        }
    }
   
}


