body {
    background-image: url("@{image-path}/background_xs.jpg");
	position: fixed;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    overflow: hidden;

    @media (min-width: 768px)
	{
        background-image: url("@{image-path}/background_sm.jpg");
	}

	@media (min-width: 1200px)
	{
        background-image: url("@{image-path}/background.jpg");
	}


}