.topic {
	[component="post/anchor"] {
        color: @text-color;
	}

	[component="post/upvote"], [component="post/downvote"] {
        color: @text-color;
	}


	[component="post/parent"] {
       border: none;
	}

	.post-stats {
        background: transparent;
        float: left;
        height: 31px;
        text-align: center;
        padding: 5px;
        line-height: 11px;
        margin-right: 4px;
        font-size: 13px;
	}

	.moderator-tools {
		> a {
            color: @text-color;
		}
	}

}


.topic {
	&.deleted {
		.opacity(0.3);
	}

	.posts {
		> li {
            .post-content {
                background:  @panel-background;
                padding: 10px;
                margin-bottom: 10px;
            }
            margin-bottom: @gap-sm;
			
		
            .moderator-tools {
                .dropdown-menu {
                    background: @panel-background-secondary;
                    .dropdown-header {
                        color: @text-color;
                    }
                    > li{
                        > a {
                            &:hover {
                                background-color: darken(@panel-background-secondary, 10%);
                            }
                        }
                    }
                }
            }
		}  
	}
}

.topic-main-buttons {
    .btn {
        padding: 6px;
        font-size: 12px;
		background:transparent;
		border: none;
		color: #fff;
    }
}