/* These variables are added manually for common style settings */
@header-background:  rgba(0,109,215,.98);
@text-secondary: #333; // Used for texts on a white background.
@dropdown-menu-hover: #f5f5f5;
@panel-background: rgba(2, 41, 82, 0.5);
@panel-background-secondary: #337ab7;

// Images included with this plugin should go in this folder. please make sure you always put images inside /public/images
@image-path: "/plugins/nodebb-theme-gamebasics/images/";


/* Start bootstrap variables */
@text-color: #ffffff;
@brand-primary:         #00a8ff;
@headings-small-color:  @text-color;
@body-bg:               transparent;
@link-color:            @brand-primary;
@link-hover-color:      @text-color;
@link-hover-decoration: none;
@state-info-text: @link-color;

@well-bg: rgba(2, 41, 82, 0.5);
@well-border: transparent;
@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
@breadcrumb-active-color:       @text-color;

@navbar-default-color:             @text-color;
@navbar-default-bg:                transparent;
@navbar-default-link-color:        @text-color;
@navbar-default-link-hover-color:   darken(@text-color, 10%);

@table-bg-accent: @panel-background;
@table-bg-hover: darken(@panel-background, 10%);


//## Define colors for form feedback states and, by default, alerts.
@state-warning-text:             @text-color;
@state-warning-bg:               @panel-background;
@state-warning-border:           transparent;


//== Panels
//
//##
@panel-bg:                    @panel-background;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          transparent;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @text-color;
@panel-default-border:        transparent;
@panel-default-heading-bg:    @header-background;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;


// == Buttons
//
//##
@btn-info-color:                 @text-color;
@btn-info-bg:                    @brand-primary;
@btn-info-border:                transparent;
/* End bootstrap variables */

