

/* Start Persona theme variables */
@material-primary:         #337ab7;
@material-success:         #4CAF50;
@material-info:            #717484;
@material-warning:         #ff6d00;
@material-danger:          #F44336;
/* End Persona theme variables */

/* Start bootstrap variables */
@brand-primary:         #00a8ff;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@body-bg: transparant;
/* End bootstrap variables */

/* Start custom OSM variables */

@primary-text-color: #ffffff;
@primary-title-color: #00a8ff;

// Images included with this plugin should go in this folder. please make sure you always put images inside /public/images
@image-path: "/plugins/nodebb-theme-gamebasics/images/";

// The variables below are taken directly from the osm solution variables.less.
@font-size-xxs: 11px;
@font-size-xs: 13px;
@font-size-sm: 15px;
@font-size-md: 18px;
@font-size-lg: 20px;
@font-size-xl: 24px;
@font-size-xxl: 34px;
@font-size-xxxl: 55px;

@gap-xs: 3px;
@gap-sm: 10px;
@gap-md: 20px;
@gap-lg: 30px;

@border-radius-xs: 0;
@border-radius-sm: 4px;
@border-radius-md: 6px;

@panel-background: rgba(2, 41, 82, 0.5);
/* End custom OSM variables */
